<ngb-tabset>
  <ngb-tab title="Weekly">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h2>BDR</h2>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Set</th>
                <th>Attended</th>
                <th>DTS</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of bdrSalesRecords; let i = index" [class.table-primary]="record.highlight">
                <td>{{i + 1}}</td>
                <td>{{record.name}}</td>
                <td>{{record.set}}</td>
                <td>{{record.attended}}</td>
                <td>{{record.dts}}</td>
                <td>{{record.set * bdrSetPoints + record.attended * bdrAttendedPoints + record.dts * bdrDTSPoints}}</td>
                <td class="text-success" *ngIf="getBDRBonus(record, bdrSalesRecords) != 0">{{getBDRBonus(record, bdrSalesRecords) | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-6">
          <h2>BDS</h2>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Set</th>
                <th>Attended</th>
                <th>DTS</th>
                <th>Sold</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of bdsSalesRecords; let i = index" [class.table-primary]="record.highlight">
                <td>{{i + 1}}</td>
                <td>{{record.name}}</td>
                <td>{{record.set}}</td>
                <td>{{record.attended}}</td>
                <td>{{record.dts}}</td>
                <td>{{record.sold}}</td>
                <td>{{record.set * bdsSetPoints + record.attended * bdsAttendedPoints + record.dts * bdsDTSPoints}}</td>
                <td class="text-success" *ngIf="getBDSBonus(record, bdsSalesRecords) != 0">{{getBDSBonus(record, bdsSalesRecords) | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Monthly">
    <ng-template ngbTabContent>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h2>BDR</h2>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Set</th>
                <th>Attended</th>
                <th>DTS</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of bdrSalesRecords; let i = index" [class.table-primary]="record.highlight">
                <td>{{i + 1}}</td>
                <td>{{record.name}}</td>
                <td>{{record.set * 3}}</td>
                <td>{{record.attended * 3}}</td>
                <td>{{record.dts * 3}}</td>
                <td>{{record.set * bdrSetPoints + record.attended * bdrAttendedPoints + record.dts * bdrDTSPoints * 3}}</td>
                <td *ngIf="i == 0" class="text-success">{{ 800 | currency }}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-6">
          <h2>BDS</h2>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Set</th>
                <th>Attended</th>
                <th>DTS</th>
                <th>Sold</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of bdsSalesRecords; let i = index" [class.table-primary]="record.highlight">
                <td>{{i + 1}}</td>
                <td>{{record.name}}</td>
                <td>{{record.set * 3}}</td>
                <td>{{record.attended * 3}}</td>
                <td>{{record.dts * 3}}</td>
                <td>{{record.sold * 3}}</td>
                <td>{{record.set * bdsSetPoints + record.attended * bdsAttendedPoints + record.dts * bdsDTSPoints * 3}}</td>
                <td *ngIf="i == 0" class="text-success">{{ 800 | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="MVPs">
    <ng-template ngbTabContent>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>BDR - Most Demos Set</h3>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Set</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bdrMvp of bdrSetMvps | slice:0:3; let i = index">
                  <td>{{i +1 }}</td>
                  <td>{{bdrMvp.name}}</td>
                  <td>{{bdrMvp.set}}</td>
                  <td class="text-success" *ngIf="getBDRSetMVPBonus(i) != 0">{{getBDRSetMVPBonus(i) | currency}}</td>
                  <td *ngIf="getBDRSetMVPBonus(i) == 0"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6">
            <h3>BDS - Most Sales</h3>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Sold</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bdsMvp of bdsSoldMvps | slice:0:3; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{bdsMvp.name}}</td>
                  <td>{{bdsMvp.sold}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
