<div class="jumbotron">
  <h1 class="display-4">All Floor Statistics</h1>
  <hr class="my-4">
  <dl class="row" style="font-size: 40px;">
    <dt class="col-sm-5">Demos Set</dt>
    <dd class="col-sm-7">{{getSetTotal(allSales)}}</dd>
    <dt class="col-sm-5">Demos Attended:</dt>
    <dd class="col-sm-7">{{getAttendedTotal(allSales)}}</dd>
    <dt class="col-sm-5">DTS:</dt>
    <dd class="col-sm-7">{{getDtsTotal(allSales)}}</dd>
  </dl>
</div>
