<ng-template #content>
    <ngb-alert [dismissible]="false" [type]="'success'" class="shadow" style="z-index: 100;">
      <h4 class="alert-heading">Goal</h4>
      <p>The <b>{{name}}</b> reached their monthly goal!</p>
      <hr>
        <img class="img-center" src="../../../assets/goal.webp" />
    </ngb-alert>
  </ng-template>