<ng-template #content>
  <ngb-alert [dismissible]="false" [type]="'primary'" class="shadow" style="z-index: 100;">
    <h4 class="alert-heading">DTS</h4>
    <p>Good work <b>{{name}}</b>!</p>
    <hr>
      <img class="img-center" src="../../../assets/dts.webp" />
  </ngb-alert>
</ng-template>
