<ngb-tabset>
  <ngb-tab title="Teams">
    <ng-template ngbTabContent>
      <table class="table">
        <thead>
          <tr>
            <th>Team</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of teamRecords">
            <td>{{t.teamName}}</td>
            <td>
              <ngb-progressbar type="success" [value]="getTeamProgressPercent(t)">{{getTeamProgress(t)}}/195</ngb-progressbar>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Personal">
    <ng-template ngbTabContent>
      <div class="container">
        <br>
        <div class="row">
          <div class="col-md-6">
            <h4>BDR</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Progress</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of bdrRecords">
                  <td>{{b.name}}</td>
                  <td>
                    <ngb-progressbar type="success" [value]="getIndividualProgressPercent(b, 5)">{{b.dts}}/5</ngb-progressbar>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h4>BDS</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Progress</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of bdsRecords">
                  <td>{{b.name}}</td>
                  <td>
                    <ngb-progressbar type="success" [value]="getIndividualProgressPercent(b, 18)">{{b.dts}}/18</ngb-progressbar>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
