<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="text-align:center;">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Buildertrend Sales</a>
</nav>

<app-dts-alert #dtsAlert></app-dts-alert>
<app-goal-alert #goalAlert></app-goal-alert>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Leaderboards</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./leaderboard']">
              <span data-feather="user"></span>
              Individual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['./teams']">
              <span data-feather="users"></span>
              Team
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Reports</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['./globalReport']">
              <span data-feather="bar-chart-2"></span>
              Global Report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['./goals']">
              <span data-feather="target"></span>
              Goals
            </a>
          </li>
        </ul>
        <hr>
        <button type="button" class="btn btn-primary" (click)="dtsAlert.show('Drew Lohrberg')">DTS</button>
        &nbsp;
        <button type="button" class="btn btn-success" (click)="goalAlert.show('Cowboys')">Goal</button>
      </div>
    </nav>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
