<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{team.name}}</h4>
    <button type="button" class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <h5>
          <u>BDR</u>
        </h5>
        <dl class="row">
          <dt class="col-sm-4">Set</dt>
          <dd class="col-sm-8">{{bdrSet}}</dd>
          <dt class="col-sm-4">Attended</dt>
          <dd class="col-sm-8">{{bdrAttended}}</dd>
          <dt class="col-sm-4">DTS</dt>
          <dd class="col-sm-8">{{bdrDts}}</dd>
          <dt class="col-sm-4">Total Score</dt>
          <dd class="col-sm-8 text-success"><strong>{{bdrTotal}}</strong></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <h5>
          <u>BDS</u>
        </h5>
        <dl class="row">
            <dt class="col-sm-4">Set</dt>
            <dd class="col-sm-8">{{bdsSet}}</dd>
            <dt class="col-sm-4">Attended</dt>
            <dd class="col-sm-8">{{bdsAttended}}</dd>
            <dt class="col-sm-4">DTS</dt>
            <dd class="col-sm-8">{{bdsDts}}</dd>
            <dt class="col-sm-4">Sold</dt>
            <dd class="col-sm-8">{{bdsSold}}</dd>
            <dt class="col-sm-4">Total Score</dt>
            <dd class="col-sm-8 text-success"><strong>{{bdsTotal}}</strong></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
