<h2>Teams</h2>

<table class="table table-hover" *ngIf="teams">
  <thead>
    <tr>
      <th>Rank</th>
      <th></th>
      <th>Team</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams; let i = index" [class.table-success]="i == 0" (click)="modal.open(team)">
      <td>{{i + 1}}</td>
      <td></td>
      <td>{{team.name}}</td>
      <td>{{getTeamScore(team)}}</td>
    </tr>
  </tbody>
</table>

<app-team-details-modal #details></app-team-details-modal>